mixin menu(props)
  - props = typeof props != 'undefined' ? props : {}

  - var attrs = props.attrs || {}
  - var tag = props.tag || 'div'
  - var data = props.data || {};

  #{tag}(
    class="menu",
  )&attributes(attrs)
    a.menu__item(
      data-ng-repeat="item in #{data.items}",
      data-ng-attr-href="{{ item.current ? undefined : item.href }}"
      data-ng-class="{'menu__item_current': item.current, 'menu__item_separated': item.separated}"
    ) {{ item.title }}
